body {
    background-color: rgb(246, 182, 102);
}

h1 {
    color: ghostwhite;
    text-align: center;
}

table {
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1;
    border-collapse: collapse;
    width: 400px;
    height: 400px;
    margin-left: 100px;
}


td {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;

}

td.plvCorreta{
    background: green;
}

td.Selecionado {
    background: blue;
}

td.plvErrada{
    background: red;
}

.risca{
    text-decoration: line-through;
}

#timer{
    text-align: center;
    font-size: xx-large;
    margin-bottom: 50px;
    margin-left: 690px;
    margin-right: 690px;
    border-radius: 20px;
    background-color: rgb(155, 59, 3);
}

#Contentor{
    display: grid;
    grid-template-columns: 400px 100px;
    grid-template-rows: 400px, 150px;
    width: 1000px;
    height: 500px;
    margin: 0px auto;
}

#Palavras{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 0;
    grid-row-end: 1;
    width: 250px;
    height: 400px;
    margin-left: 20px;
    text-align: center;
    font-size: 30px;
    background-color: rgb(255, 165, 80);
    border-width: 3px;
    border-color: rgba(28, 177, 164, 0.836);
    border-style:double;
}

#Pontuacao{
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left:100px;
}

.oBotao {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.display{
    display: none;
}

.botaoDrop:hover, .BotaoDrop:focus {
    background-color: #2980B9;
}

.botao {
    position: relative;
    display: inline-block;
    margin-left: 650px;
}
  

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}
  

.show {display:block;}

#refresh{
    position: relative;
    display: inline-block;
    margin-left: 690px;
    font-size: 15px;
    height: 60px;
    background-color: rgb(77, 103, 50);
    visibility: hidden;
}